/* MovieListItem.css */

.second-layer {
    align-self: center;
    flex:1;
    width: 100%;
    margin-top: -48px;
    border: 1px solid rgba(226, 124, 64, 0.02);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 8px 12px 64px 48px rgba(226,122,63, 0.5);
}

.movie-poster {
    display: flex;
    flex-direction: column;
    margin: 4px;
    flex-basis: 46%;
    overflow: hidden;
}

.second-layer > .title {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 56px;
    text-align: center;
    color:  rgba(0, 0, 255, 0.55);
}

.movie-details {
    margin: 56px 8px 16px;
    flex: 1;
    flex-basis: 70%;
    align-self: center;
    font-weight: 200;
}

.more-details {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 0px 8px 4px;
}
.more-details i {
    align-self: flex-end;
    margin: 4px;
}

.overview {
    flex: 1;
    font-size: 12px;
    font-weight: normal;
    align-self: center;
    height: 40px;
    overflow: inherit;
    text-overflow: ellipsis;
    padding: 4px 8px;
    line-height: 1.2;
}

.average {
    color: rgba(226,122,63, 0.9);
    display: flex !important;
    flex-basis: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    padding: 4px !important;
}

.year {
    background-color: rgba(226, 124, 64, 0.6);
    border: 1px solid rgba(226, 124, 64, 0.7);;
    border-radius: 4px;
    font-size: 12px;
    color: #fdfcfb;
    font-weight: bold;
    padding: 4px;

}

.movie-details {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.movie-details span {
    color: #555;
    font-size: 0.8rem;
    font-weight: bold;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.default-container {
    color: blue !important;
}

.view-page {
    align-self: baseline;
    color: blue !important;
    padding-right: 24px !important;
}