.movie-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 4px auto !important;
}

.movie-container > a {
    margin: 8px auto;
}

.movie-container > label {
    background-color: blue;
    border: 2px groove blue;
    border-radius: 8px;
    padding: 4px;
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 27%;
    top: 5.5rem;
    width: 9.5rem;
    text-align: center;
}

.movies {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 16px;
    padding: 0 0 8px;
}

.movie-container .search {
    color: blue;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
}

@media only screen and (max-height: 900px) and (max-width: 500px) {
    .movies {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .movie-container > i {
        bottom: 1rem;
        right: 1rem;
    }
}