.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.movie-container > label {
    border: 2px groove blue;
    border-radius: 8px;
    margin-top: 16px;
    padding: 4px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: blue;
}

.movies {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 20px 0;
}

@media only screen and (max-height: 800px) and (max-width: 500px) {
    .movies {
        display: flex;
        margin-left: 4px;
        margin-right: 4px;
        marker-top: 10px;
        justify-content: space-between;

    }
}