.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.movie-container > label {
    background-color: blue;
    border: 2px groove blue;
    border-radius: 8px;
    padding: 4px;
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 27%;
    top: 5.5rem;
    width: 9.5rem;
    text-align: center;
}

.movies {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 0;
}

@media only screen and (max-height: 900px) and (max-width: 500px) {
    .movies {
        display: flex;
        margin-left: 4px;
        margin-right: 4px;
        justify-content: flex-start;
    }

    .movie-container > label {
        right: 5rem;
        width: 5rem;
        text-align: center;
    }
}