.selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 33px 0;
}

.selection label {
    margin-bottom: 10px;
    color: #555;
}

.selection select {
    max-width: 108px;
}