header {
  margin: 8px 12px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

header .left {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 12px;
}

.left a {
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--secondary-color) 50%,
    var(--secondary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  margin-bottom: 2px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left p {
  background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .right {
  margin-left: auto;
}