.movie-backdrop {
    background-size: cover;
    background-position: center center;
}

.movie-poster-img {
    min-height: 128px;
    margin-top: 8px;
    align-self: center;
    width: 80%;
    z-index: 2;
    border-radius: 8px;
    border: 8px solid hsla(22, 74%, 57%, 0.2);
}

@media (min-width: 1281px) {
    .movie-poster-img {
        min-height: 320px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .movie-poster-img {
        min-height: 320px;
    }
}

@media (min-width: 481px) and (orientation: landscape) {
    .movie-poster-img {
        min-height: 256px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .movie-poster-img {
        min-height: 192px;
    }
}

.credits-label {
    background-color: inherit !important;
    border: none !important;
}

.credits-label-sec {
    background-color: inherit !important;
    border: none !important;
    font-weight: 100 !important;
}


.average {
    color: rgba(226,122,63, 0.9);
    display: flex !important;
    flex-basis: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    padding: 4px !important;
}