section.genres {
    padding: 12px;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.button-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 8px;
}

.onboarding-header {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}
/* TODO: container based justify-content */