.App {
  text-align: left;
  margin: 0 80px;
}

@media only screen and (max-height: 800px) and (max-width: 500px) {
  .App {
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    margin: 0;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
